name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: install dependencies
      run: sudo apt install moreutils m4 zip

    - name: build-pk3
      run: make

    - name: upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: font-jetbrains-mono
        path: |
          *.pk3
        retention-days: 30
