name: Publish Release

on:
  release:
    types: [published]

jobs:
  publish:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y m4 moreutils zip

      - name: Build
        run: make

      - name: Upload to Release
        uses: softprops/action-gh-release@v1
        with:
          files: font-jetbrains-mono.pk3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
